<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>主页</title>
    <!--<link rel="stylesheet" href="../static/layui/css/layui.css">-->
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="shortcut icon" href="#" />

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" id="all">
    <!--  头-->
    <div class="layui-header">
        <div class="layui-logo"></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <div class="layui-nav layui-layout-left">
            <div class="input-group"  id="search">
            </div>
        </div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:void(0);">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    [[${(session.username)}]]
                </a>

            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>
    <!--侧边栏-->
    <div class="layui-side layui-bg-black">
        <div id="sidebaer">
            <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" id="sidebar_ul" >
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:void(0);">图书分类</a>
                </li>
                <li class="layui-nav-item"><a href="javascript:void(0);" @click="to2">购物车</a></li>
                <li class="layui-nav-item"><a href="javascript:void(0);" @click="to3">我的订单</a></li>
                <li class="layui-nav-item"><a href="javascript:void(0);" >公告</a></li>
            </ul>
        </div>
    </div>
    <!--主体-->
    <div class="layui-body" >
        <!--主界面-->

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="/static/jquery/jquery-2.1.1.min.js"></script>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script>
    $.get("/consumer/payment/getMenus",function (data) {
        console.log(data);
        $("#sidebar_ul").empty();
        var buttons = "";
        $.each(data,function (menu) {
            var button = "<li class=\"layui-nav-item layui-nav-itemed\">\n" +
                "                    <a href=\"javascript:void(0);\">"+data[menu].name+"</a>\n" +
                "         </li>\n";
            buttons = buttons + button;
        })
        buttons = $(buttons);
        $("#sidebar_ul").append(buttons);
    })
</script>
</body>
</html>